@use "src/mixins.scss";

.home {
	width: 100%;
	min-height: 100%;
}

.splash {
	position: relative;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: 25%;
	color: var(--text-highlight);

	@include mixins.device(tablet) {
		padding-inline: 15%;
	}

	@include mixins.device(mobile) {
		padding-inline: 8%;
	}
}

.down-button {
	position: absolute;
	bottom: 1em;
	left: 50%;
	translate: -50%;
	background: none;
	color: var(--text-main);

	&:hover {
		background-color: var(--background-highlight);
	}
}
